body{
    padding-left: 5%;
    padding-right: 5%;
}


.header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.logo {
    text-align: center;
}

.shearchSection {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.shearchRecipe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #E7E7E7;
    border-radius: 5px;
}

#recipe {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgba(128, 127, 126, 0.341);
}

.shearchicon {
    font-size: 25px;
    margin: 10px 20px 10px 10px;
}

.taglist {
    margin-top: 20px;

}
.tagcard{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #3282F7;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.tagname {
    color: white;
    font-weight: 700;
    font-family:Lato;
    display: flex;
    align-items: center;
}

.tagclose{
    color: white;
    font-weight: 50;
    display: flex;
    align-items: center;
}

.navShearch {
    margin-top: 20px;
    display: flex;
    color: white;

}

.navShearchIngredients {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #3282F7;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.navShearchdevice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #68D9A4;
    height: 50px;
    margin: 0px 20px 0px 20px;
    padding-left: 10px;
    padding-right: 10px;

}

.navShearchUstensils {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #ED6454;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;

}

.navSherchText {
    margin-right: 20px;
}
.galerie{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%; 
    
}


.cardPicture {
    background-color:#C7BEBE;
    height: 150px;
    
}

.cardAllText{
    background-color: #E7E7E7;
    padding: 10px;

}



.cardInfo {
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;


}

.cardRecipeName {
    font-size: 14px;

}

.cardRecipeTime {
    display: flex;
    justify-content: space-between;

}

.timeIcon {

}

.timeRecipe {


}

.carteRecette{
    display: flex;
}
.cardRecipe{
    width: 50%;
}


.cardIngredients{
    width: 50%;
}

.ingredients {
    width: 100%;


}

.ingredientsName {

}

.quantite {

}

.recipe {
    display: flex;
    align-items: flex-start;
    width: 50%;
}

.libelle {

    margin-top: 0px;
    overflow: hidden;
  
}


.combobox{
    padding: 8px;
    border-radius: 8px;
    border: 5px solid blue;
}