body{
    padding-left: 5%;
    padding-right: 5%;
}


.header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.logo {
    text-align: center;
}

.shearchSection {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.shearchRecipe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #E7E7E7;
    border-radius: 5px;
}

#recipe {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgba(128, 127, 126, 0.341);
}

.shearchicon {
    font-size: 25px;
    margin: 10px 20px 10px 10px;
}

.taglist {
    margin-top: 20px;
}

.tagcard{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #3282F7;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.tagname {
    color: white;
    font-weight: 700;
    font-family:Lato;
    display: flex;
    align-items: center;
}

.tagclose{
    color: white;
    font-weight: 50;
    display: flex;
    align-items: center;
}

.navShearch {
    margin-top: 20px;
    display: flex;
    color: white;
}

.navShearchWrapper{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    max-width: 250px; 
    border: none;      
}

.hidden{
    display: none;    
}

.reglage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}



.result {
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 5px;    
}



.list {
    display: flex;
    flex-wrap: wrap;
}

.list .item{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding : 5px 0px;
    cursor: pointer;
    width: 30%;
}

.list .item:hover {
    background-color: #f7f7f7;
    color: black;
}

.search-input::placeholder {
   color: white;
   opacity: 0.8;
}

.search-input:focus {
    border: none;
    outline: none;
}

.search-input{
    border: none;
    margin-top: 20px ;
    margin-bottom: 20px;
    color: white;
    background-color: transparent;
}

.close-button{
    margin-right: 15px;
}

.navShearchIngredients {
    background-color: #3282F7;
    color: white; 
}

.navShearchAppareils {    
    background-color: #68D9A4;
    color: white;    
}

.navShearchUstensiles {    
    background-color: #ED6454;
    color: white;    
}

.filters{
    display: flex;
    position: absolute;
    z-index: 2;   
}

.navSherchText {
    margin-right: 20px;
}


.galerie{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    position: absolute;
    top: 350px;    
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;   
}


.cardPicture {
    background-color:#C7BEBE;
    height: 150px;    
}

.cardAllText{
    background-color: #E7E7E7;
    padding: 10px;
}

.cardInfo {
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

.cardRecipeName {
    font-size: 14px;

}

.cardRecipeTime {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.timeRecipe {
    padding-left: 10px
}

.carteRecette{
    display: flex;
}



.cardIngredients{
    width: 50%;    
}

.ingredients {
    width: 100%;
    font-size: 12px;
}

.recipe {    
    display: flex;
    align-items: flex-start;
    width: 50%;  
}

.libelle {
    margin-top: 0px;
    height: 150px;
    font-size: 12px;
    line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;   
}


